package components

templ Footer() {
	<footer class="footer footer-center p-4 bg-base-300 text-base-content">
		<aside>
			<p>Copyright © 2024 - All right reserved by Nicolas Goldack</p>
		</aside>
	</footer>
}
