package pages

templ Auth() {
	<form hx-post="/login" hx-target="#auth-form">
		<input type="text" name="username"/>
		<input type="password" name="password"/>
		<button type="submit">Login</button>
	</form>
}

