package pages

templ Index() {
	<div class="flex flex-col items-center">
		<h1>Willkommen auf dem Reiseblog</h1>
		<p>
			Hier findest du alle Informationen zu meinen Reisen.
		</p>
		<a href="/reisen">Zu den Reisen</a>
	</div>
}
